$font-stack:    "open-sans","Arial","sans-serif";
$color-white: #ffffff;

$nav-top-bg:    #7093a7;
$nav-top-item: #ccd9e1;
$nav-top-text: #586e9d;
$nav-top-hover: #586e9d;
$nav-top-width: 80%;

$nav-bottom-bg:    #8a6fa6;
$nav-bottom-item: #d6cde0;
$nav-bottom-text: #8a6fa6;
$nav-bottom-hover: #5dab83;
$nav-bottom-width: 80%;

$break-xsmall: 320px;
$break-small: 600px;
$break-medium: 800px;
$break-large: 992px;
